.container {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 3rem;
    text-align: center;
    position: relative;
}

.blocked {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.settingWrapper {
    display: grid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.btnSettings {
    cursor: pointer;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}
